html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
   }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

.event-heading-primary {
  font-family: 'Signika', sans-serif;
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  /* background-image: linear-gradient(to right, #00FFFF, #0033FF); */
  background-image: linear-gradient(to right, #ff6ec7,#00FFFF);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  @media (max-width: 37.5em) {
    .event-heading-primary {
      font-size: 4.7rem; } }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-med {
  margin-bottom: 4rem !important; }

.u-margin-bottom-sm {
  margin-bottom: 1.5rem !important; }

.event-row {
  max-width: 114rem;
  margin: 0 auto; }
  .event-row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .event-row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media (max-width: 56.25em) {
    .event-row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .event-row::after {
    content: "";
    display: table;
    clear: both; }
  .event-row [class^="col-"] {
    float: left; }
    .event-row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .event-row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .event-row [class^="col-"] {
        width: 100% !important; } }
  .event-row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .event-row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .event-row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .event-row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .event-row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .event-row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }



    .evnts-poster {
      text-align: center;
      border-radius: 4px;
      padding: 5px;
      height: 352px;
      display: inline-block;
      border: 1px solid #708090;


      -webkit-transition: all 300ms ease-in-out;
      transition: all 300ms ease-in-out;
    }
    @media(min-width: 1750px) {
      .evnts-poster {
        height: 400px;
      }
    }
    .evnt-fluid{
      width: 100%;
      height: 339px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    @media(min-width: 1750px) {
      .evnts-fluid {
        height: 400px;
      }
    }
    /* .evnts-posterr {
      border-color: transparent;
      box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.2);
    } */

.section-event-card {
  background-color: #333333;
  /* background-image: url("../img/galaxy.jpg"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5rem 0 5rem 0;
  /*margin-top: -10rem;*/ }

.event-card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 35rem; }
@media(max-width: 900px) {
  .event-card {
    height: 44rem;
  }
}
  .event-card__side {
    /* color: white; */
    font-size: 2rem;
    height: 35rem;
    transition: all 1s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 3px;
    /* overflow: hidden; */
    box-shadow: 0 1.5rem 3rem rgba(255, 255, 255, 0.25); }
    .event-card__side--front {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #485461;
	    background-image: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    }
    .event-card.ready .event-card__side--front{
      flex-direction: column;
      height: fit-content;
    }
    .event-card.ready .event-card__side--front h4{
      margin: 2.65rem;
    }

    .event-card__side--back {
      display: flex;
      justify-content: center;
      align-items: center;
      transform: rotateY(180deg);
      -webkit-transform: rotateY(180deg);
      background-image: linear-gradient(to right bottom, rgba(255,110,199,0.7), rgba(0, 255, 255, 0.7));
      -moz-transform: rotateY(180deg);
      -ms-transform: rotateY(180deg);
      -o-transform: rotateY(180deg);
}
    .event-card.ready .event-card__side--back{
      flex-direction: column;
      justify-content: space-around;
      height: 352px;
    }
    @media(min-width: 1750px) {
      .event-card.ready .event-card__side--back{
        height: 400px;
      }
    }
    .event-card.ready .event-card__side--back h4{
      padding: 4rem;
      padding-bottom: 1rem;
    }
  .event-card:hover .event-card__side--front {
    transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
  }

  .event-card:hover .event-card__side--back {
    transform: rotateY(0);
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    -ms-transform: rotateY(0);
    -o-transform: rotateY(0);
}

    .event-card__pic {
    	background-size: cover;
        height: 24rem;
        background-blend-mode: overlay;
  }
  .event-card__pic--1 {
	  background-image: url('assets/img/13.jpeg');
  }

    .event-card__heading {
    font-size: 3rem;
    text-transform: uppercase;
    color: #fff;
    text-align: center !important;
    padding: 5rem;
    }

    .event-card__heading--1 {
      font-size: 2rem;
        text-transform: uppercase;
        color: #fff;
        text-align: center !important;
        padding: 1rem;
      }

  .event-card__heading-span {
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
   }
  .event-card__details {
    font-size: 3.5rem;
    text-transform: uppercase;
    color: #fff;
    text-align: center !important;
    font-weight: 700;
   }

   .event-card__details--1 {
    font-size: 1.7rem;
      text-transform: none;
      color: #000;
      text-align: center !important;
      padding: 4rem;
    }
    @media(max-width: 400px) {
      .event-card__details--1 {
        font-size: 2rem;
      }       
    }

  .event-card__details-span {
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    color: #000;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
  }

  /* BUTTON */
.event-card__reg-button {
	display: flex;
  width: 80%;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.event-card__reg-button > a {
	font-family: 'Lato', sans-serif;
}

  .btn:link, .btn:visited {
	text-transform: uppercase;
	text-decoration: none;
	padding: 1rem 3rem;
	display: inline-block;
	border-radius: 10.0rem;
	transition: all .2s;
	position: relative;
	font-size: 1.6rem;
}

.btn:hover {
	transform: translateY(-.3rem);
  box-shadow: 0 1.0rem 2.0rem rgba(0,0,0,.2);
  color: #a5ffd1;
}

.btn:active{
	transform: translateY(-.1rem);
	box-shadow: 0 .5rem 1.0rem rgba(0,0,0,.2);
}

.btn-white{
	background-color: #0cbaba;
	background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
	color: #fff;
}

.btn::after{
	content: "";
	display: inline-block;
	height: 100%;
	width: 100%;
	border-radius: 10.0rem;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	transition: all .4s;
}

.btn-white::after{
	background-color: #0cbaba;
	background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
}

.btn:hover::after{
	transform: scaleX(1.4) scaleY(1.6);
	opacity: 0;
}

/* .btn-animated{
	animation: moveInBottom 1s ease-out .75s;
	animation-fill-mode: backwards;
}

@keyframes moveInBottom{
	0%{
		opacity: 0;
		transform: translateY(3rem);
	}

	100%{
		opacity: 1;
		transform: translate(0);
	}
} */
